#!/usr/bin/env python2.7
# 
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License along
# with this program.  If not, see <http://www.gnu.org/licenses/>.

import alsaaudio
import wave
from subprocess import call, Popen, PIPE
import os, atexit, sys, getpass, audioop, math, time, gettext, locale, logging 

from datetime import datetime

APP_NAME='lispeak'
CHUNK = 1024
CHANNELS = 1
RATE = 16000
WAVE_OUTPUT_FILENAME = '/tmp/lispeak_' + getpass.getuser() + '/recording.wav'
FLAC_OUTPUT_FILENAME = '/tmp/lispeak_' + getpass.getuser() + '/recording.flac'
MAXRESULT=6
lo  = 2000
hi = 32000
is_paused = False
log_lo = math.log(lo)
log_hi = math.log(hi)

def clean_up():
    ''' Clean up, clean up, everybody do your share '''
    os.remove(FLAC_OUTPUT_FILENAME)
    
def capture_audio(inp):
    sound = []
    
    chunk = 0
    volume = 0
    volume_threshold = 1
    silence_threshold = 8
    silence_counter = 0
    
    #Can record now, ready. So change the status to done.
    call(['./pycmd',"done"])
    while(not is_paused):

        _, data = inp.read()
        # transform data to logarithmic scale
        peak = audioop.max(data, 2)
        vu = (math.log(float(max(peak,1)))-log_lo)/(log_hi-log_lo)
        
        # transform the scale in the range 0...10
        current_volume = min(max((vu*10),0),10)
        
        if chunk == 0:
           if current_volume < volume_threshold:
               if current_volume != 0:
                  logging.debug( "Dropped package with volume " + str(current_volume) )
               continue
         
        else:
            if chunk>0 and volume == 0:
                silence_counter = silence_counter + 1
            else:
                silence_counter = 0
        
        if (silence_counter >= silence_threshold):
            logging.debug( "Detected " + str(silence_threshold) + " silent loop" )
            for i in range(1, silence_threshold):
                sound.pop()
            break 
            
        volume = current_volume

        #Not ready i.e is recording
        call(['./pycmd',"record"])
        chunk = chunk + 1
        sound.append(data)
        time.sleep (RATE / CHUNK / 1000.0);

    if is_paused:
        call(['./pycmd',"record"])
    
    logging.debug( "Recorded " + str(chunk) + "\n" )
    
    if (chunk > 7):
        return ''.join(sound)
    else:
        return ""

def write_wav(data):
    ''' Write string of data to WAV file of specified name '''
    wf = wave.open(WAVE_OUTPUT_FILENAME, 'wb')
    wf.setnchannels(CHANNELS)
    wf.setsampwidth(2)
    wf.setframerate(RATE)
    wf.writeframes(data)
    wf.close()

''' Set up mic, capture audio, and return string of the result '''
def setup_mic():
    inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL)
    inp.setchannels(CHANNELS)
    inp.setrate(RATE)
    inp.setformat(alsaaudio.PCM_FORMAT_S16_LE)
    inp.setperiodsize(CHUNK)
    return inp
    
def main():
    # Setup microphone
    inp = setup_mic()
        
    while (1):
        if is_paused:
            continue;
            
        ''' Run through process of getting, converting, sending/receiving, and 
            processing data '''
  
        tstart = datetime.now()

        # code to speed test

        tend = datetime.now()
        logging.debug( "Init data capture " + str(tend - tstart) )
    
        # Capture an audio chunk
        data = capture_audio(inp)
        
        tend = datetime.now()
        logging.debug( "Finish data capture " + str(tend - tstart) )
        
        if data!="":
            # write to WAV file
            write_wav(data)
   
            tend = datetime.now()
            logging.debug( "Finish print wav " + str(tend - tstart) )
            
            call(['sox', WAVE_OUTPUT_FILENAME, FLAC_OUTPUT_FILENAME, "rate", "16k", "pad", "0.5", "0.5"])
    
            tend = datetime.now()
            logging.debug( "Finish flac reencoding " + str(tend - tstart) )
            call(['./pycmd',"wait"])
            # Send and receive translation
            (resp, stderr) = Popen(["./send_speech",FLAC_OUTPUT_FILENAME], stdout=PIPE).communicate()
            print "|"+resp+"|"
            if resp.strip() !="":
                call(['./recognize',resp])
                tend = datetime.now()
                logging.debug( "Get google response " + str(tend - tstart) )
            call(['./pycmd',"done"])
                        
def init_localization():
    LOCALE_DOMAIN = APP_NAME
    gettext.textdomain(LOCALE_DOMAIN)
    gettext.install(LOCALE_DOMAIN)
                                           
if __name__ == '__main__':
    init_localization()
    logging.basicConfig(level=logging.DEBUG)
    atexit.register(clean_up)
    main()
